<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!-- HTTP configuration for login/logout -->
	<http auto-config='false' entry-point-ref="authenticationEntryPoint">

	    <!-- see: http://docs.spring.io/spring-security/site/migrate/current/3-to-4/html5/migrate-3-to-4-xml.html#m3to4-xmlnamespace-headers -->
	    <!-- Disable CSRF as it is enabled by default since Spring Security 4 -->
<!-- 	    <csrf disabled="true"/> -->
	    <!-- TODO make GDABodenschutz work with Security HTTP Response Headers -->
<!-- 	    <headers disabled="true"/> -->

		<!-- interceptors for special URLs -->
		<intercept-url pattern="/index*" access="permitAll"/>
		<intercept-url pattern="/config/getAppContext.action" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_USER','ROLE_ADMIN')"/>

		<!-- default interception -->
		<intercept-url pattern="/*" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />

		<custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter" />

		<!-- Logout configuration -->
		<logout invalidate-session="true" logout-success-url="/index.html"
			logout-url="/logout" />

		<remember-me key="xaab.springmvclogin" />

		<!-- TODO read for more specific configuration -->
		<session-management session-fixation-protection="newSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" />
		</session-management>

	</http>

	<!-- Filter for User/Password authentication, let us intercept
		 on successful/failed login attempt -->
	<beans:bean id="authenticationFilter" class="de.terrestris.shogun.security.ShogunAuthProcessingFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>

	<!-- the entry point for authentication, via URL -->
	<beans:bean id="authenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg name="loginFormUrl" value="/index.html" />
	</beans:bean>

	<!-- This is an entry point for a custom Authentication Manager,
		 use this when taking care yourself about the authentication
	<beans:bean id="customAuthProvider" class="de.terrestris.shogun.security.CustomAuthenticationProvider">
	</beans:bean>
	 -->

	<!-- The Authentication Manager, manages a database based
		 authentication -->
	<authentication-manager alias="authenticationManager" >

		<authentication-provider>
			 <password-encoder hash="md5"/>
			 <jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="
					SELECT
						user_name AS username,
						user_password AS password,
						1
					FROM
						tbl_user
					WHERE
						user_name = ?
				"
				authorities-by-username-query="
					SELECT DISTINCT
						tbl_user.user_name AS username,
						tbl_role.name AS authorities
					FROM
						tbl_user,
						tbl_group_tbl_user,
						tbl_group,
						tbl_group_tbl_role,
						tbl_role
					WHERE
						tbl_group_tbl_user.group_fk = tbl_group.id
					AND
						tbl_group_tbl_user.user_fk = tbl_user.id
					AND
						tbl_group_tbl_role.group_id = tbl_group.id
					AND
						tbl_group_tbl_role.role_id = tbl_role.id
					AND
						tbl_user.user_name = ?
				"
			 />
		</authentication-provider>

		<!--
		<authentication-provider ref="customAuthProvider">
		</authentication-provider>
		-->

	</authentication-manager>

</beans:beans>
