<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>SHOGun</display-name>

	<!-- Log4J configuration -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- Application Context -->
	<!-- This Context is the root app context.
		 The context of a servlet (e.g. the following shogun-servlet)
		 will inherit from this context and have access to the stuff
		 defined here, e.g. Hibernate-TransactionManger from db-config.
		 see e.g. http://syntx.co/languages-frameworks/difference-between-loading-context-via-dispatcherservlet-and-contextloaderlistener/
		 for more information.
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/spring/app-config.xml
			/WEB-INF/spring/db-config.xml
			/WEB-INF/spring/applicationContext-security.xml
			/WEB-INF/spring/initialize-beans.xml
		</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- This is the binding of our self-defined class CustomHttpSessionListener
		 for the handling of session timeouts and logouts.
		 
		 It is commented here as it currently only provides useful variables, but 
		 is not implementing any logic such as cleanup of temporary data.
		 
	
	<listener>
		<listener-class>de.terrestris.suite.session.CustomHttpSessionListener</listener-class>
	</listener>
	-->

	<!-- Shogun-Servlet -->
	<servlet>
		<servlet-name>shogun</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/shogun-config.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>shogun</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<!-- Timeout in minutes -->
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>